@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;

  /* Marca / Acción */
  --color-primary: #47d16e;
  --color-accent: #85bfd1;
  --color-primary-hover: #3c40ae;

  /* UI / Neutrales */
  --color-surface-white: #ffffff;
  --color-surface-card: #1c1e22;
  --color-surface-border: #26292d;
  --color-surface-bg: #171718;
  --color-surface-footer: #131414;

  --border-surface-card: #1c1e22;
  --border-surface-border: #26292d;
}

html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
}

@layer utilities {
  .animated-underline,
  .underline-active {
    position: relative;
    display: inline-block;
  }

  .animated-underline::after,
  .underline-active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.2s ease-in-out;
  }

  .animated-underline::after {
    width: 0;
  }
  .animated-underline:hover::after {
    width: 100%;
  }

  .underline-active::after {
    width: 100%;
  }
}

@utility px-responsive {
  @apply px-5 min-[480px]:px-10 min-[992px]:px-37.5;
}
